body {
  font-family: "Montserrat", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/003/original/clouds.jpg?1722690207);
  background-repeat: no-repeat;
  background-size: auto;
}

.main-section {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  max-width: 600px;
  max-height: 800px;
  border-radius: 10px;
  border: 1px solid rgb(112, 128, 152);
  box-shadow: 10px 8px 8px rgba(112, 128, 152, 0.8);
  margin: 40px auto;
  padding: 20px;
}
.searc-form-input {
  background-color: #cbe6f3;
  border-radius: 4px;
  font-size: 16px;
}

.search-form-search {
  background-color: #cbe6f3;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}
