body {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  background-repeat: no-repeat;
  background-size: auto 700px;
}

.main-section {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  max-width: 600px;
  max-height: 800px;
  border-radius: 10px;
  border: 1px solid rgb(112, 128, 152);
  box-shadow: 10px 8px 8px rgba(112, 128, 152, 0.8);
  margin: 30px auto;
  padding: 20px;
}
