body {
  font-family: "Montserrat", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/003/original/clouds.jpg?1722690207);
  background-repeat: no-repeat;
  background-size: auto;
}
a {
  color: rgb(85, 142, 242);
}
.main-section {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid rgb(112, 128, 152);
  box-shadow: 10px 8px 8px rgba(112, 128, 152, 0.8);
  margin: 40px auto;
  padding: 20px;
}

header {
  border-bottom: 0.05px solid rgb(202, 206, 212);
  padding: 0 0 30px 0;
}
.searc-form-input {
  background-color: #dff1f9;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 80%;
  padding: 15px 20px;
}

.search-form-search {
  background-color: #dff1f9;
  color: rgb(85, 142, 242);
  border: none;
  border-radius: 4px;
  padding: 15px 26px;
  font-size: 16px;
  margin-left: 8px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 18px;
  line-height: 24px;
}
.weather-app-details strong {
  color: rgb(89, 26, 223);
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 50px;
  margin-top: 16px;
}
.weather-app-temperature {
  font-size: 88px;
}
.weather-app-unit {
  font-size: 30px;
  margin-top: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
.weather-forecast-icon {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  font-size: 16px;
  color: rgb(89, 26, 223);
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.weather-forecast-temperature {
  padding: 0 8px;
}

.wind {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
footer {
  border-top: 0.05px solid rgb(202, 206, 212);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
